@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

axe-mode-overlay {
  position: fixed;
  background: rgba(255, 91, 91, 0.2);
  border: 1px solid rgb(255, 91, 91);
  border-radius: 4px;
  cursor: pointer;
}

.popover {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(189, 192, 207, 0.16);
  border: 1px solid #E6EBF4;
  background-color: white;
  padding: 16px;
  margin: 8px 0;
  z-index: 1337;
  animation: slideDown 0.4s cubic-bezier(.2, .8, .4, 1);
}
.popover h2 {
  margin: 0;
  font-size: 20px;
  color: #222328;
}

.popover ul {
  padding-left: 14px;
  margin-top: 8px;
  margin-bottom: 0;
  list-style-type: 'ãƒ» ';
}

.popover li {
  padding: 0;
  max-width: 40ch;
  margin: 8px 0 0 0;
  font-size: 14px;
  color: #505366;
}

.popover small {
  display: block;
  font-size: 12px;
  color: #BDC0CF;
  margin: 4px 0 8px 0;
}

.popover h2 {
  max-width: 40ch;
}

.popover a {
  color: #6469FF;
}


.popover code {
  font-size: 12px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(100, 105, 255, 0.05);
  color: #6469FF;
  border-radius: 3px;
}


.popover .checks {
  margin-top: 16px;
}

.popover .checks .header {
  display: flex;
  font-size: 1.2rem;
  margin: 0.5em 0;
  align-items: center;
}

.popover .checks .header svg {
  width: 1em;
  height: 1em;
  margin-right: 0.325em;
}

.popover .checks .header h3 {
  font-size: 1em;
  margin: 0;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.close {
  width: 24px;
  height: 24px;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
